/* Center arrows + dots */
.row.circles .col {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Add space after last circle */
.row.circles .col .indicators:last-of-type {
  margin-right: 12px;
}
